node_modules
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*
*.interp
*.tokens
parser-ts/LuxLexer.ts
parser-ts/LuxParser.ts
parser-ts/LuxParserVisitor.ts
gen/
dist/
script.js
script.json
build/
vscode-extension/out/
